/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
.grid-border {
    -fx-border-color: blue;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}
.cell-border {
    -fx-border-color: black;
    -fx-border-width: 0.5px;
    -fx-border-style: solid;
}
}
