/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
.grid-border {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}
.cell-border {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

}
